<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
        version="5.0">

    <context-param>
        <param-name>dataSource</param-name>
        <param-value>jdbc/hospital</param-value>
    </context-param>
    <context-param>
        <description>Log4j Configuration xml file</description>
        <param-name>log4j-config</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>security-config</param-name>
        <param-value>WEB-INF/security.properties</param-value>
    </context-param>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>sign_in.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
    	<error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/accessError.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.yaroslav.lobur.exceptions.UnknownSqlException</exception-type>
        <location>/dbError.jsp</location>
    </error-page>

    <resource-ref>
        <res-ref-name>jdbc/hospital</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

</web-app>